@font-face {
    font-family: "myFont";
    src: url('./fangzhengli.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'myFont';
    background: url('./icon.png');
}
